.cardsContainer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.messages{
	font-family: 'Notable', 'san-serif';
	font-weight: 200;
  	color: #05b4e4;
  	height: auto;
  	font-size: 50px;
}

.icons{
	display: flex;
	flex-direction: column;
	text-align: center;
	color: black;
	justify-content: center;
	margin: 0 10px 0 10px;
}
