.card{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 5px;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link{
	transition: transform .2s; /* Animation */
	text-decoration: none;
}
.formatImage{
	width: 250px;
	height: auto;
	border-radius: 1em;
}
.textStyle{
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
	color: #05b4e4;
}
.formatCard{
	height: auto;
}
