.navBarItems{
   display: flex;
   flex-wrap: wrap;
   position: fixed;
   align-items: center;
   width: 100%;
   background: #039BE5;
   min-height: 58px;
   height: auto;
   font-size: 1.2em;
   margin-bottom: auto;
}
.navItem{
   margin-right:1.2em;
   padding-left: 1.2em;
   text-decoration: none;
   color: white;
}
ul {
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.posLeft{
   margin-right: auto;
   padding: 0 5px;
}
.navBarItems a:hover{
   color: #fa923f;
   cursor: pointer;
}
.navBarItems a:active{
   color: #fa923f;
   cursor: pointer;
}
