.centerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: max-content;
  font-size: 1.5rem;
}
.large.text {
  font-size: 3em;
}
.small.text {
  font-size: 2rem;
}
