.home{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.spacetop{
	margin-top: 58px;
}
.header{
	text-align: center;
	color: #05b4e4;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.headerImage{
	text-align: center;
	width: 55%;
	min-width: 350px;
	height: auto;
}
.innerText{
	text-align: center;
	width: 80%;
	color: #333;
	font-size: 28px;
}
