.home{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.main{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}
.header{
	text-align: center;
	color: #05b4e4;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0;
}
.image{
	width: 55%;
	min-width: 350px;
	height: auto;
}
.innerText{
	text-align: center;
	width: 80%;
	color: #333;
	font-size: 28px;
}
