.searchBox{
	background: #fff;
	text-align: center;
	font-size: 14pt;
	width: 25%;
	height: 30px;
	margin-top: 80px;
	border: none;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchboxContainer{
	display: flex;
	justify-content: center;
}
::placeholder{
	text-align: center;
	color: black;
}
